.navbar {
    padding: 25px;
    background-color: #2C3E50 ;
}
.navbar .navbar-brand{
    font-size: 40px;
    font-weight: 700;
}
.navbar-collapse .navbar-nav  .nav-item .nav-link{
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    transition: color .5s ease-in-out;
}
.navbar-collapse .navbar-nav  .nav-item .nav-link:hover{
    color: #1ABC9C;
}